# ВНИМАНИЕ: изменить стандартные настройки при запуске проекта в production

# url для подключения к базе данных postgres
db_url=postgresql://bsw:bsw_secret@events-db:5432/bsw

# url для подключения к базе данных redis
redis_url=redis://redis:6379
